appdirs==1.4.4
application-utility==1.3.2
asn1crypto==1.4.0
astroid==2.4.2
attrs==20.3.0
autopep8==1.5.4
bauh==0.9.14
btrfsutil==5.10
CacheControl==0.12.6
ceph==1.0.0
ceph-volume==1.0.0
cephfs==2.0.0
cephfs-shell==0.0.1
cffi==1.14.4
chardet==3.0.4
cheroot==8.5.2
cipher==0.1
click==7.1.2
colorama==0.4.4
contextlib2==0.6.0.post1
crypto==1.4.1
Cryptodome==1.0
cryptography==3.3.1
cupshelpers==1.0
cycler==0.10.0
distlib==0.3.1
distro==1.5.0
docopt==0.6.2
Flask==1.1.2
Flask-Cors==3.0.10
gpg==1.15.1
html5lib==1.1
idna==2.10
importlib-metadata==3.4.0
iniconfig==1.1.1
isort==5.7.0
itsdangerous==1.1.0
jaraco.functools==3.1.0
Jinja2==2.11.2
keyutils==0.6
kiwisolver==1.3.1
lazy-object-proxy==1.4.3
lensfun==0.3.95
LibAppArmor==3.0.1
lit==0.11.1.dev0
lockfile==0.12.2
louis==3.16.0
MarkupSafe==1.1.1
matplotlib==3.3.4
mccabe==0.6.1
mercurial==5.7
more-itertools==8.6.0
mpmath==1.1.0
msgpack==1.0.2
Naked==0.1.31
netifaces==0.10.9
netsnmp-python==1.0a1
npyscreen==4.10.5
numpy==1.19.5
ordered-set==4.0.2
packaging==20.8
pacman-mirrors==4.19.1
pep517==0.9.1
Pillow==8.1.0
pluggy==0.13.1
ply==3.11
progress==1.5
psutil==5.8.0
pwquality==1.4.4
py==1.10.0
pyaml==20.4.0
pycairo==1.20.0
pycodestyle==2.6.0
pycparser==2.20
pycrypto==2.6.1
pycryptodome==3.10.1
pycryptodomex==3.10.1
pycups==2.0.1
pycurl==7.43.0.6
PyGObject==3.38.0
pylint==2.6.0
pymongo==3.11.2
pyOpenSSL==20.0.1
pyparsing==2.4.7
PyQt5==5.15.2
PyQt5-sip==12.8.1
pysmbc==1.0.23
PySocks==1.7.1
pytest==6.2.1
python-dateutil==2.8.1
pytoml==0.1.21
PyYAML==5.3.1
rados==2.0.0
rbd==2.0.0
reportlab==3.5.60
requests==2.25.1
resolvelib==0.5.4
retrying==1.3.3
rgw==2.0.0
scipy==1.6.0
shellescape==3.8.1
sip==4.19.24
six==1.15.0
sympy==1.7.1
team==1.0
toml==0.10.2
torbrowser-launcher==0.3.3
udiskie==2.3.2
urllib3==1.26.3
web.py==0.62
webencodings==0.5.1
Werkzeug==1.0.1
wrapt==1.12.1
zipp==3.4.0
zstandard==0.15.1
