  
  

  .job-card{
    position: relative;
    list-style: none;
    font-family: 'Arial';
    font-weight: 200; 
    padding: 20px;
    border-style:solid;
    border-width: 1mm;
    width:50%;
    left:25%;
    bottom:25%;
    color: black;
    border-color: #6A040F;
    background-color: #6A040F;
  }

  .Company{
      border-style: outset;
      border-width: 1mm;
      border-color: #6A040F;
      background-color: #C4C4C4;
  }

  .Position{
    border-style: outset;
    border-width: 1mm;
    border-color: #6A040F;
    background-color: #C4C4C4;
}

.JobLink{
    border-style: outset;
    border-width: 1mm;
    border-color: #6A040F;
    background-color: #C4C4C4;
}

.Info{
    border-style: outset;
    border-width: 1mm;
    border-color: #6A040F;
    background-color: #C4C4C4;
}

  