/* Popup style */
.popup-box {
    position: fixed;
    background: #00000050;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
  }
   
  .box {
    position: relative;
    width: 50%;
    margin: 0 auto;
    height: 75%;
    max-height: 70vh;
    margin-top: calc(100vh - 85vh - 20px);
    background: #6A040F;
    border-radius: 4px;
    padding: 20px;
    border: 1px solid #999;
    overflow: auto;
  }
   
  .close-icon {
    left: 63%;
    width: 10%;
    position: fixed;
    right: calc(27% - 30px);
    top: calc(102vh - 85vh - 33px);
    background-color: #C4C4C4
  }

  .close-icon:hover {
    background-color: #C4C4C4;
  }

  .add-popup {
    margin-top: 5em;
  }