.search-bar{
    position: relative;
    width: 575.85px;
    height: 77px;
    left: 507.77px;
    top: 55px;
    background: #D3D3D3;
    border-radius: 7px;
    padding-top: 4px;
    padding-left: 4px;
    padding-right: 4px;
}

.search-bar input{
    text-align: center;
    position: relative;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 44px;
    color: #000000;
}

.search-bar ::placeholder {
    color:black;
}